<h1> Bienvenido/a !</h1>
<h2>Rutas disponibles:</h2>
<ul>
  <li>(GET) /info</li>
  <li>(GET) /productos</li>
  <li>(GET) /productos/:id</li>
  <li>(POST) /productos</li>
  <li>(PUT) /productos/:id</li>
  <li>(DELETE) /productos/:id</li>
</ul>