<div class="container fail py-5">
    <h1 class="text-center">Este usuario ya esta registrado</h1>
    <a href="/register" class="text-center"><button class="btn btn-warning my-3"> Volver al Registro</button></a>
</div>