<div class="container main">
  <h1 class="title">Login de Usuario</h1>
    <form class="my-5 d-flex flex-column" method="post" onsubmit="">
      <label for="name"><strong>Ingrese su nombre:</strong></label>
      <input type="text" id="name" name="name" required class="mb-4">
      <button type="submit" class="btn btn-success">Enviar</button>
    </form>
  </h1>
</div>