<div class="container main">
  <h1 class="title">Registro de Usuario</h1>
    <form class="my-5 d-flex flex-column" method="post" onsubmit="" enctype="multipart/form-data">
      <label for="username"><strong>Ingrese nombre de usuario:</strong></label>
      <input type="text" id="username" name="username" required class="mb-4">
      <label for="password"><strong>Ingrese su contraseña:</strong></label>
      <input type="password" id="password" name="password" required class="mb-4">
      <label for="email"><strong>Ingrese su email:</strong></label>
      <input type="email" id="email" name="email" required class="mb-4">
      <label for="name"><strong>Ingrese su nombre:</strong></label>
      <input type="text" id="name" name="name" required class="mb-4">
      <label for="surname"><strong>Ingrese su apellido:</strong></label>
      <input type="text" id="surname" name="surname" required class="mb-4">
      <label for="address"><strong>Ingrese su direccion:</strong></label>
      <input type="text" id="address" name="address" required class="mb-4">
      <label for="age"><strong>Ingrese su edad:</strong></label>
      <input type="number" id="age" name="age" required class="mb-4">
      <label for="phone"><strong>Ingrese su teléfono:</strong></label>
      <input type="tel" id="phone" name="phone" required class="mb-4">
      <label for="avatar"><strong>Ingrese su foto o avatar:</strong></label>
      <input type="file"  accept="image/*" id="avatar" name="avatar" required class="mb-4">
      <button type="submit" class="btn btn-success">Enviar</button> 
      <hr>
      <a href="/login">Ir a login</a> 
    </form>
  </h1>
</div>